* {
    margin: 0;
    padding: 0;
}

.container-home {
    margin: 80px auto;
    background-color: #2b3035;
    width: 80%;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    color: #fff;
}


.container-info {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;
}


.info {
    color: #fff;
    background-color: #2b3035;
    width: 500px;
    border-radius: 15px;
    padding: 8px;   
    margin: 10px;
}


.container-packs {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    color: #fff;
    margin: 30px;
    flex-wrap: wrap;

}


.pack {
    width: 500px;
    background-color: #2b3035;
    height: 700px;
    border: solid 3px #2b3035;
    border-radius: 10px;
    margin: 10px;
}

.infopack {
    height: 640px;
    background-color: #fff;
    width: 96%;
    margin: auto;
    color: #000;
    text-align: start;
}

.pack1 {
    margin-right: 25px;
}

.pack2 {
    margin-left: 25px;
}



.li-pack {
    list-style: none;
    font-size: 20px;
    padding: 5px;
   
}

.fa-check {
    margin-right: 10px;
    margin-left: -10px;
    color: #0f1;
}










@media only screen and (max-width: 1150px) {
    
    .pack1 {
        margin-right: 10px;
    }
    
    .pack2 {
        margin-left: 10px;
    }
    
    .info {
        margin: 20px;
    }
}















