* {
    margin: 0;
    font-family: 'Playfair Display', serif;
}

body {
    background-color: #bfbfbf;
}

.nav__ul-responsive {
    display: none;
}

.nav {
    background-color: #cecece;
    
}

.nav__ul {
    padding: 15px;
    margin-left: 20px;

}

.nav__li {
    display: inline-block;
    margin-right: 18px;
    font-size: 20px;
}

.a{
    text-decoration: none;
    color: #000;

}

.a:hover {
    color: #fff;
    
}


.contenedor-titulo {
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

.titulo {
    height: 200px;
    width: 500px;
    background-color: #fff;
    border-radius: 2vh;
    text-align: center;
    padding: 5px;
    margin: 10px;
}

.h1a {
    padding: 20px;

}

.h2a {
    padding: 10px;
    margin: 5px;
}


.info-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.info {
    height: 30vh;
    width: 50vh;
    background-color: #fff;
    text-align: center;
    border-radius: 2vh;
    padding: 5px;
    margin: 20px;
    
}

.info i {
    position: relative;  
    float: right;  
    margin: -20px;
    font-size: 40px;
    
}