* {
    margin: 0;
    padding: 0;
}

.container-home {
    margin-top: 55px;
    height: 300px;
    text-align: center;
    background-color: rgba(187, 187, 187, .5);
    color: #fff;
    display: flex;
    justify-content: space-around;
}

.home {
    background-color: #2b3035;
    width: 80%;
    padding: 10px;
    border-radius: 20px;
    height: 150px;
    margin: 75px;
}

.container-info {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;
    height: 300px;
}


.info {
    color: #fff;
    background-color: #2b3035;
    width: 500px;
    height: 200px;
    border-radius: 15px;
    padding: 8px;   
    margin: 50px 10px 50px 10px;
}


.container-packs {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    color: #fff;
    flex-wrap: wrap;
    background-color: rgba(187, 187, 187, .5);

}


.pack {
    width: 500px;
    background-color: #2b3035;
    height: 700px;
    border: solid 3px #2b3035;
    border-radius: 10px;
    margin: 20px 10px;
}

.infopack {
    height: 640px;
    background-color: #fff;
    width: 96%;
    margin: auto;
    color: #000;
    text-align: start;
}


ul {
    padding: 10px;
}

.li-pack {
    list-style: none;
    font-size: 20px;
    padding: 5px;
    
}

.fa-check {
    margin-right: 10px;
    margin-left: -10px;
    color: #0f1;
}










@media only screen and (max-width: 1150px) {
    
    .pack1 {
        margin-right: 10px;
    }
    
    .pack2 {
        margin-left: 10px;
    }
    
    .info {
        margin: 20px;
    }
}















